h3 {
    font-size: 36px; 
    color: #007bff; 
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

p {
    color: #ff7b00;
}

form {
    margin-bottom: 20px;
    padding: 12px;
    border: 2px solid #007bff;
    border-radius: 20px; 
    background-color: #f1f3f4;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    padding: 10px;
    color: #333;
}

form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px; 
    margin-left: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}